version: "3.7"

services:
  # vue-server:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   environment:
  #     - NUXT_HOST=0.0.0.0
  #     - NUXT_PORT=3000
  #     - MODE=server
  #   ports:
  #     - 3000:3000
  #   restart: always

  vue-debug-dev:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - NUXT_HOST=0.0.0.0
      - NUXT_PORT=3000
      - MODE=dev
    ports:
      - 3000:3000
    volumes:
      - /app/node_modules
      - .:/app